@charset "utf-8";
/* CSS Document */

body{background-color: black; margin: 0% 5% 2.5% 5%}

header,footer{background-color: #FD7F20; color: white; font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"}

hgroup{padding-left: 1%}

footer{padding-left: 1%; font-style: italic}

h1,h4{margin: 0%}

main>article>h3{font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"}

nav{background-color: darkred; padding-left: 1%}

ul{padding-inline-start: 0%;}

nav>ul>li{display: inline; font-size: 15pt}

a{color: #F1B620;}

main{background-color: white; margin: 0%; padding: 1%}

img{border: 1px solid gray;}

.capt{color: gray; font-style: italic;}